.DS_Store
target/
.settings/
.classpath
.factorypath
.project
.idea
.designer
.driver
.sonarlint
.vscode
build/
styles.scss.cache
widgetsets/
gwt-unitCache/
*.iml
**/VAADIN/***/styles.css
_classroom-builds/Vaadin-Framework
_classroom-builds/Vaadin-Clientside
_classroom-builds/Vaadin-Best-Practices
**/frontend/node
**/frontend/node_modules
**/frontend/bower
**/frontend/bower_components
**/frontend/package-lock.json
**rebel.xml
**/error-screenshots
**/webdriver
**/drivers

# The following files are generated/updated by vaadin-maven-plugin
node_modules/
node/
